{% extends 'meta.html' %}
{% load static %}


{% block extra_css %}
<style>

    .container img {
        max-height: 300px !important; 
        margin:5px !important;
        width: auto; 
        height: auto; 
        object-fit: contain;
        margin: auto; 
    }

</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ content.title }}</h1>
    <p>{{ content.body | safe }}</p>
    
    <!-- Render the image -->
    {% if content.image %}
        <img src="{{ content.image.url }}" alt="{{ content.title }}" class="img-fluid">
    {% endif %}

    <!-- Render the file/document -->
    {% if content.files %}
        <a href="{{ content.files.url }}" target="_blank" class="btn btn-primary">
            View Document
        </a>
    {% endif %}
</div>
{% endblock %}

