{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/testimonial.css' %}">
{% endblock %}

<section class="section-medium section-arrow--bottom-center section-arrow-primary-color bg-primary mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white text-center">
                <h2 class="section-title testimonial-head">AnauBava </h2>
            </div>
        </div>
    </div>
</section>

<section class="section-primary t-bordered">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Testimonial Slider -->
            <div id="testimonialslide" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
                <div class="carousel-inner">
                    <!-- Slide 1 -->
                    {% for testimonial in  testimonials%}

                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="testimonial-card">
                            <div class="testimonial-img">
                                <img src="{{testimonial.image.url}}" alt="User Image" />
                            </div>
                            
                            <p class="testimonial-text">{{testimonial.body}}</p>
                            <p class="testimonial-name">{{testimonial.name}}</p>
                            <p class="testimonial-role">{{testimonial.extra}}</p>
                        </div>
                    </div>


                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
