{%load static%}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/testimonial.css' %}">
{% endblock %}
<section class="section-medium section-arrow--bottom-center section-arrow-primary-color bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white text-center">
                <h2 class="section-title testimonial-head">AnauBava</h2>
               
            </div>
        </div>
    </div>
</section>
<section class="section-primary t-bordered">
    <div class="container">
        <div class="row testimonial-three testimonial-three--col-three">
            <!-- Testimonial columns  -->
        </div>
    </div>
</section>
