{% extends 'meta.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/timeline.css' %}">
{% endblock %}

{% block content %}
    <section class="timeline_area section_padding_130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-10">
                    <!-- Section Heading -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Timeline Area -->
                    <div class="apland-timeline-area">
                        <!-- Single Timeline Content -->
                        {% if galleries %}

                        {% for gallery in galleries%}

                        <div class="single-timeline-area">
                           <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s">
                               <p>{{gallery.creation_date}}</p>
                           </div>
                           <div class="row">
                               <div class="col-12 col-md-10 col-lg-10 col-sm-10">
                                   <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s">
                                       <div class="timeline-icon">
                                           <i class="fa fa-address-card" aria-hidden="true"></i>
                                       </div>
                                       <div class="timeline-text">
                                           <h6>{{gallery.galleryName}}</h6>
                                           <div class="timeline-gallery">
                                               <div class="row">
                                                   {% for img in gallery.image_set.all %}
                                                   
                                                   <div class="col-4">
                                                       <img src="{{img.image.url}}"
                                                           class="img-fluid rounded zoomable" alt="Gallery Image 1"
                                                           onclick="openModal(this)">
                                                   </div>

                                                  {%endfor%}
                                                  
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                        {% endfor %}

                        {% else %}
                        <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
                            <div class="alert alert-warning text-center" role="alert">
                                No Item added so far..
                            </div>
                        </div>

                        {% endif %}
                        <!-- end of timeline -->
                    </div>
                </div>
            </div>
        </div>
    </section>

   
   <!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-body text-center">
                <button class="btn btn-light position-absolute start-0 top-50 translate-middle-y" id="prevBtn">
                    ❮
                </button>
                <img id="modalImage" src="" class="img-fluid" alt="Zoomed Image">
                <button class="btn btn-light position-absolute end-0 top-50 translate-middle-y" id="nextBtn">
                    ❯
                </button>
            </div>
        </div>
    </div>
</div>


    <!-- Script -->
    <script>
        let currentIndex = 0;
        let images = [];
    
        function openModal(image) {
            images = Array.from(document.querySelectorAll('.zoomable'));
            console.log(images)
            currentIndex = images.indexOf(image);
    
            updateModalImage();
            var modal = new bootstrap.Modal(document.getElementById("imageModal"));
            modal.show();
        }
    
        function updateModalImage() {
            if (images.length > 0) {
                document.getElementById("modalImage").src = images[currentIndex].src;
            }
        }
    
        document.getElementById("prevBtn").addEventListener("click", function () {
            currentIndex = (currentIndex - 1 + images.length) % images.length;
            updateModalImage();
        });
    
        document.getElementById("nextBtn").addEventListener("click", function () {
            currentIndex = (currentIndex + 1) % images.length;
            updateModalImage();
        });



        /**
        for keyboard control
        **/


        function changeImage(change){

            currentIndex +=change;

            if(currentIndex<0){
                currentIndex = images.length-1;
            } else if(currentIndex>=images.length){
                currentIndex=0;
            }

            updateModalImage(currentIndex);

        }


        /** key events **/ 

        document.addEventListener("keydown", function(event){

            if(event.key === "ArrowLeft"){
                changeImage(-1);
            }else if (event.key === "ArrowRight"){
                changeImage(1);
            }

        });
    </script>
    
    
    
{% endblock %}
