{% extends 'meta.html'%}

{% block content %}
    <div class="d-flex justify-content-center">
        <form method="POST" class="d-flex flex-row align-items-center gap-3 p-3 border rounded mt-5">
            {% csrf_token %}

            <!-- Menu Item Field -->
            <div class="d-flex align-items-center">
                <label for="{{ form.menuItem.id_for_label }}" class="me-2 fw-bold">Content Name:</label>
                {{ form.contentType }}
            </div>


            <!-- Active Checkbox -->
            <div class="d-flex align-items-center">
                <label for="{{ form.is_active.id_for_label }}" class="me-2">Is active:</label>
                {{ form.is_active }}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
