{% extends 'meta.html'%}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center col-sm-8 ">
        {{ form.media }}
        <form method="POST" enctype="multipart/form-data" action="" id="article-form">
            {% csrf_token %}

            {{ form.as_p }}
        
            <input type="submit" name="submit" value="submit"/>
        </form>
    </div>

    <script>

        document.getElementById("article-form").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent default form submission
            saveArticle();
        });
    
        function getCsrfToken() {
            return document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        }

        function saveArticle() {
            const form = document.getElementById("article-form");
            submit(form,'');
        }

    </script>
{% endblock %}
