{% extends 'meta.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <!-- Article Card -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card d-flex align-items-center justify-content-center">
                <div class="card-body text-center">
                    <h5 class="card-title">Add an Article &nbsp; <i class="fa fa-file-text-o"></i></h5>
                    <a href="#" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Notice Card -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card d-flex align-items-center justify-content-center">
                <div class="card-body text-center">
                    <h5 class="card-title">Add a Notice &nbsp; <i class="fa fa-file-o"></i></h5>
                    <p class="d-flex align-items-center justify-content-center">
                        <i class="fa fa-plus fa-2x"></i>
                    </p>
                </div>
            </div>
        </div>

        <!-- Gallery Card -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card d-flex align-items-center justify-content-center">
                <div class="card-body text-center">
                    <h5 class="card-title">Add an Album &nbsp; <i class="fa fa-picture-o"></i></h5>
                    <p class="d-flex align-items-center justify-content-center">
                        <i class="fa fa-plus fa-2x"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Second row-->
    <div class="row">
        <!-- Menu Item Card -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card d-flex align-items-center justify-content-center">
                <div class="card-body text-center">
                    <h5 class="card-title">Add Menu Item &nbsp; <i class="fa fa-file-text-o"></i></h5>
                    <a href="#" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#addMenuModal">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Tabs -->
    <ul class="nav nav-tabs mt-4" id="contentTabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#articles">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#notices">Notices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#gallery">Gallery</a>
        </li>
    </ul>

    <div class="tab-content border p-3">
        <!-- Articles Section -->
        <div id="articles" class="tab-pane fade show active">
            <h4>Articles Section</h4>
            {% if article_list %}
                {% for item in article_list %}
                    <p>{{ item.title }}</p>
                {% endfor %}
            {% else %}
                <p>No articles published.</p>
            {% endif %}
        </div>

        <!-- Notices Section -->
        <div id="notices" class="tab-pane fade">
            <h4>Notices Section</h4>
            {% if notice_list %}
                <ul class="list-group">
                    {% for notice in notice_list %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ notice.noticeTitle }}</span>
                        <div>
                            <a href="{% url 'edit_notice' notice.id %}" class="btn btn-sm btn-warning">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                            <button class="btn btn-sm btn-danger" onclick="deleteNotice({{ notice.id }})">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-muted">No notices published yet.</p>
            {% endif %}
        </div>

        <!-- Gallery Section -->
        <div id="gallery" class="tab-pane fade">
            <h4>Gallery Section</h4>
            <p>Manage gallery here.</p>
        </div>
    </div>
</div>

<!-- Floating Button -->
<div class="d-flex">
    <div class="dropup">
        <button class="btn btn-primary floating-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-cog"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Account Settings</a></li>
            <li><a class="dropdown-item" href="#">Manage Users</a></li>
            <li><a class="dropdown-item" href="#">Additional</a></li>
        </ul>
    </div>
</div>


{% endblock %}
