{% extends 'meta.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <!-- Article Card -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card d-flex align-items-center justify-content-center">
                <div class="card-body text-center">
                    <h5 class="card-title">Add an Article &nbsp; <i class="fa fa-file-text-o"></i></h5>
                    <a href="#" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Notice Card -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card d-flex align-items-center justify-content-center">
                <div class="card-body text-center">
                    <h5 class="card-title">Add a Notice &nbsp; <i class="fa fa-file-o"></i></h5>
                    <p class="d-flex align-items-center justify-content-center">
                        <i class="fa fa-plus fa-2x"></i>
                    </p>
                </div>
            </div>
        </div>

        <!-- Gallery Card -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card d-flex align-items-center justify-content-center">
                <div class="card-body text-center">
                    <h5 class="card-title">Add an Album &nbsp; <i class="fa fa-picture-o"></i></h5>
                    <p class="d-flex align-items-center justify-content-center">
                        <i class="fa fa-plus fa-2x"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Second row-->
    <div class="row">
        <!-- Menu Item Card -->
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card d-flex align-items-center justify-content-center">
                <div class="card-body text-center">
                    <h5 class="card-title">Add Menu Item &nbsp; <i class="fa fa-file-text-o"></i></h5>
                    <a href="#" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#addMenuModal">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Tabs -->
    <ul class="nav nav-tabs mt-4" id="contentTabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#articles">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#notices">Notices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#gallery">Gallery</a>
        </li>
        <li>
            <a class="nav-link" data-bs-toggle="tab" href="#contentTypes">ContentTypes</a>
        </li>
        <li>
            <a class="nav-link" data-bs-toggle="tab" href="#menu">Menu</a>
        </li>

        {% for content_type in content_types %}
            <li class="nav-item" >
                <a class="nav-link" id="tab-{{ content_type.id }}" data-bs-toggle="tab" href="#content-{{ content_type.id }}" role="tab" >
                    {{ content_type.contentType }}
                </a>
            </li>
        {% endfor %}

       
    </ul>

    <div class="tab-content border p-3">
        <!-- Articles Section -->
        <div id="articles" class="tab-pane fade show active">
            <h4>Articles Section</h4>
            {% if article_list %}
                {% for item in article_list %}
                    <p>{{ item.title }}</p>
                {% endfor %}
            {% else %}
                <p>No articles published.</p>
            {% endif %}
        </div>

        <!-- Notices Section -->
        <div id="notices" class="tab-pane fade">
            <h4>Notices Section</h4>
            {% if notice_list %}
                <ul class="list-group">
                    {% for notice in notice_list %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ notice.title }}</span>
                        <div>
                            <a href="{% url 'edit_notice' notice.id %}" class="btn btn-sm btn-warning">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                            <!-- Delete section-->
                            <form action="/back/delete-notice/{{notice.id}}" style="display:inline;" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                            </form>
                            <!-- End of delete-->
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-muted">No notices published yet.</p>
            {% endif %}
        </div>

        <!-- Gallery Section -->
        <div id="gallery" class="tab-pane fade">
            <h4>Gallery Section</h4>
           

            {% if gallery_list %}
            <ul class="list-group">
                {% for gallery in gallery_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ gallery.galleryName }}</span>
                    <div>
                        <a href="{% url 'edit_gallery' gallery.id %}" class="btn btn-sm btn-warning">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <!-- Delete Section-->

                        <form action="/back/delete-gallery/{{gallery.id}}" style="display:inline;" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                        </form>

                        <!-- end of delete-->
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted">No notices published yet.</p>
        {% endif %}
        </div>


        <!-- Dynamic Tabs -->

        {% for content_type in content_types %}
           
            <div class="tab-pane fade"  id="content-{{ content_type.id }}" >
                <ul class="list-group">
                    {% for dynamic in content_type.dynamic_set.all %}
                       
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>{{ dynamic.title }}</span>
                            <div>
                                <a href="{% url 'edit_dynamic' dynamic.id %}" class="btn btn-sm btn-warning">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                                <form action="/back/delete-dynamic/{{dynamic.id}}" style="display:inline;" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                </form>
                               
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No content available.</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        <!-- end of dynamic tabs-->


        <!-- Menu Items -->
        <div id="menu" class="tab-pane fade">
            <h4>Menu</h4>
            {% if menu_list %}
               
            {% for menu in menu_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ menu.menuItem }}</span>
                <div>
                    <a href="{% url 'edit_menu' menu.id %}" class="btn btn-sm btn-warning">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <!-- Delete section-->
                    <form action="/back/delete-menu/{{menu.id}}" style="display:inline;" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </form>
                    <!-- End of delete-->
                </div>
            </li>
            {% endfor %}
            {% else %}
                <p>No Menu Added</p>
            {% endif %}
        </div>

        <!-- end of menuItems -->
            
        <div id="contentTypes" class="tab-pane fade">
            <h4>ContentTypes</h4>
            {% if content_types %}
            {% for item in content_types %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ item.contentType }}</span>
                <div>
                    <a href="{% url 'edit-content-type' item.id %}" class="btn btn-sm btn-warning">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <!-- Delete section-->
                    <form action="/back/delete-content-type/{{item.id}}" style="display:inline;" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </form>
                    <!-- End of delete-->
                </div>
            </li>
            {% endfor %}
            {% else %}
                <p>No ContentType added.</p>
            {% endif %}
        </div>

        <!-- end of contentTypes -->

        


        


    </div>
</div>

<!-- Floating Button -->
<div class="d-flex">
    <div class="dropup">
        <button class="btn btn-primary floating-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-cog"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Account Settings</a></li>
            <li><a class="dropdown-item" href="#">Manage Users</a></li>
            <li><a class="dropdown-item" href="#">Additional</a></li>
        </ul>
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("form").forEach(function (form) {
            form.addEventListener("submit", function (event) {
                if (!confirm("Are you sure you want to delete?")) {
                    event.preventDefault(); 
                } else{
                    event.preventDefault();
                    submit(this,this.getAttribute("action"),'/back/dashboard');
                }
            });
        });


        {%if popups%}
        $('#popup').modal('show'); 
        {%endif%}
    });

  
</script>


{% include "back/pop.html" %}
{% endblock %}
