{% extends 'meta.html'%}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center align-items-center pt-2">
    <div class="card col-md-4 justify-content-center align-items-center">
        <div>
            <img class="card-img-top" src="{% static 'img/schoolx.png' %}" style="width:15rem;height:10rem;object-fit:contain;">
        </div>
        <div class="card-body">
            <form id="login-form">
                {% csrf_token %}
                <div class="form-row mb-3">
                    <div>
                        <label for="username">Email</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Email" required>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    document.getElementById("login-form").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent default form submission
        submitLogin();
    });

    function getCsrfToken() {
        return document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    }
    function getCssVariable(variableName) {
        return getComputedStyle(document.documentElement).getPropertyValue(variableName).trim();
    }

    function submitLogin() {
        const form = document.getElementById("login-form");
        save(form,'login');
    }
</script>

{% endblock %}
