{% extends 'meta.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/timeline.css' %}">
{% endblock %}

{% block content %}
    <section class="timeline_area section_padding_130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-10">
                    <!-- Section Heading -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Timeline Area -->
                    <div class="apland-timeline-area">
                        <!-- Single Timeline Content -->
                         {% for gallery in galleries%}

                         <div class="single-timeline-area">
                            <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s">
                                <p>{{gallery.creation_date}}</p>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-10 col-lg-10 col-sm-10">
                                    <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s">
                                        <div class="timeline-icon">
                                            <i class="fa fa-address-card" aria-hidden="true"></i>
                                        </div>
                                        <div class="timeline-text">
                                            <h6>{{gallery.galleryName}}</h6>
                                            <div class="timeline-gallery">
                                                <div class="row">
                                                    {% for img in gallery.image_set.all %}
                                                    
                                                    <div class="col-4">
                                                        <img src="https://fastly.picsum.photos/id/254/200/200.jpg?hmac=wM9u9N0tgdWKFIr8MxBLr8rLoV0JjUUKLk32XFV8agQ"
                                                            class="img-fluid rounded zoomable" alt="Gallery Image 1"
                                                            onclick="openModal(this)">
                                                    </div>

                                                   {%endfor%}
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                         {% endfor %}
                        <!-- end of timeline -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img id="modalImage" src="" class="img-fluid" alt="Zoomed Image">
                </div>
            </div>
        </div>
    </div>

    <!-- Script -->
    <script>
        function openModal(image) {
            document.getElementById("modalImage").src = image.src;
            var modal = new bootstrap.Modal(document.getElementById("imageModal"));
            modal.show();
        }
    </script>
{% endblock %}
